@page "/kintai"

<PageTitle>Kintai</PageTitle>

<h1>Kintai</h1>

<p role="status">dateTiem: @dateTime</p>

<button class="btn btn-primary" @onclick="datetime">Click me</button>

@code {
    private int dateTime = 0;

    [Parameter]
    public int DateTime { get; set; } = 1;

    private void DateTime()
    {
        
    }
}
