@page "/kintai"

<PageTitle>Kintai</PageTitle>

<h1>Kintai</h1>

<p role="status">Date time: @dateTime</p>

<button class="btn btn-primary" @onclick="DateTime">Now Time</button>

@code {
    private DateTime dt = DateTime.Now;
    [Parameter]
    public DateTime { get; set;} = DateTime.Now;
    private void DateTime()
    {
        DateTime now;
    }
}